# Lab 5: Create and query a MongoDB collection


#### Import libraries

In [ ]:
%%capture
%pip install pymongo

In [ ]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

#### 1. PyMongo Configuration and Database Connection

In this cell, we are connecting to a MongoDB database hosted on MongoDB Atlas.

1. URI Setup:

- The uri variable holds the connection string, which includes the username and password required to connect to the MongoDB cluster.

2.
Creating a Client:

- `client = MongoClient(uri, server_api=ServerApi('1'), tlsAllowInvalidCertificates=True)`: This line initializes a new client using `MongoClient`, which establishes a connection to the MongoDB server.

- The parameter `server_api=ServerApi('1')` sets the API version for the connection, and `tlsAllowInvalidCertificates=True` allows the client to connect even if the TLS certificate isn't valid (useful for testing environments).


3. Testing the Connection:

- We use a `try` block to send a ping command (`client.admin.command('ping')`) to verify the connection. If successful, it prints a success message.
- If the connection fails, it catches the exception and displays the error message, helping diagnose connection issues.

In [ ]:
uri = "<ATLAS_STRING>"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'),
                     tlsAllowInvalidCertificates=True)
# Send a ping to confirm a successful connection

try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    raise e

Show the list of databases

In [ ]:
client.list_database_names()

Upload `restaurants_collection.txt` file

In [ ]:
db = client['lab5']

In [ ]:
db.create_collection('restaurants')

In [ ]:
restaurants = db['restaurants']

In [ ]:
from bson.json_util import loads
import gdown

url = 'https://drive.google.com/uc?id=1WWd-vk2gyvy4gPG40MtjENPOYXbpIKey'
output = 'restaurants_collection.txt'
gdown.download(url, output, quiet=False)

# Read records (json)
with open(output) as f:
    data = loads(f.read())

restaurants.delete_many({})
# Add records to the collection
restaurants.insert_many(data);

## Exercises

### 1. Find all restaurants whose cost is medium. Show the result is the pretty format.

In [ ]:
from pprint import pprint
results = restaurants.find(...) #WRITE YOUR QUERY HERE
for result in results:
  pprint(result)

### 2. Select the name and the number of seats (maxPeople) available of all the restaurants whose review is bigger than 4 and cost is medium or low

In [ ]:
results = db.restaurants.find(...) #WRITE YOUR QUERY HERE
for result in results:
  pprint(result)

### 3. Select the name, the phone of the restaurants that can contain more than 5 people and:

  #### a. whose tag contains "italian" or "japanese" and cost is medium or high OR
  #### b. whose tag does not contain neither "italian" nor "japanese", and whose review is higher than 4.5

#### Remove from the output the field _id.

In [ ]:
results = db.restaurants.find(...) #WRITE YOUR QUERY HERE
for result in results:
  pprint(result)

### 4. Calculate the average review of all restaurants

In [ ]:
results = db.restaurants.aggregate(...) #WRITE YOUR PIPELINE HERE
for result in results:
  print(result['review_avg'])

### 5. Count the number of restaurants whose review is higher than 4.5 and can contain more than 5 people

In [ ]:
results = db.restaurants.aggregate(...) #WRITE YOUR PIPELINE HERE

for result in results:
  print(result['count'])

### 6. Find the restaurant in the collection which is nearest to the point [45.0644, 7.6598]. Hint: remember to create the geospatial index.

In [ ]:
db.restaurants.create_index(...) (...) #WRITE YOUR CODE HERE

In [ ]:
result = db.restaurants.find_one(...) #WRITE YOUR QUERY HERE

# find_one returns one single document
pprint(result)

### 7. Find how many restaurants in the collection are within 500 meters from the point [45.0623, 7.6627]

In [ ]:
results = db.restaurants.find(...) #WRITE YOUR QUERY HERE

pprint(len(list(results)))

### 8. Add the tag “pizza” to all the restaurants that contain the tag “italian”. If the tag “pizza” is already present, you should not insert it

In [ ]:
db.restaurants.update_many(...) #WRITE YOUR CODE HERE

### 9. Decrease the review score of 0.2 for all the restaurants with the tag ‘fastfood’

In [ ]:
db.restaurants.update_many(...) #WRITE YOUR CODE HERE

### 10. For only the restaurants with a review higher than 3, find the tags which appear more than 1 time. For each tag, show how many documents include it.

In [ ]:
results = db.restaurants.aggregate(...) #WRITE YOUR PIPELINE HERE

for result in results:
  pprint(result)

### 11. For each cost category, compute the minimum review rate, the maximum review rate, the average review rate and the number of restaurants. Sort the result in descending order according to the number of restaurants in each cost category.

In [ ]:
results = db.restaurants.aggregate(...) #WRITE YOUR PIPELINE HERE

for result in results:
  pprint(result)

### 12. Find the median value of maxPeople attribute

In [ ]:
results = db.restaurants.aggregate(...) #WRITE YOUR PIPELINE HERE

for result in results:
  pprint(result)