# Lab 5: Create and query a MongoDB collection


#### Import libraries

In [5]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
from pprint import pprint

#### 1. PyMongo Configuration and Database Connection

In this cell, we are connecting to a MongoDB database hosted on MongoDB Atlas.

1. URI Setup:

    - The uri variable holds the connection string, which includes the username and password required to connect to the MongoDB cluster.

2.Creating a Client:

- `client = MongoClient(uri, server_api=ServerApi('1'), tlsAllowInvalidCertificates=True)`: This line initializes a new client using `MongoClient`, which establishes a connection to the MongoDB server.

    - The parameter `server_api=ServerApi('1')` sets the API version for the connection, and `tlsAllowInvalidCertificates=True` allows the client to connect even if the TLS certificate isn't valid (useful for testing environments).


3. Testing the Connection:

    - We use a `try` block to send a ping command (`client.admin.command('ping')`) to verify the connection. If successful, it prints a success message.
    - If the connection fails, it catches the exception and displays the error message, helping diagnose connection issues.

In [6]:
uri = "mongodb+srv://AidenPearce:DogWatcher23@chicagoadventure.vazqh.mongodb.net/?retryWrites=true&w=majority&appName=ChicagoAdventure"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'),
                    tlsAllowInvalidCertificates=True)
# Send a ping to confirm a successful connection

try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    raise e

Pinged your deployment. You successfully connected to MongoDB!

Show the list of databases

In [7]:
client.list_database_names()

['lab5', 'sample_mflix', 'admin', 'local']

Upload `restaurants_collection.txt` file

In [8]:
db = client['lab5']

In [ ]:
db.create_collection('restaurants')

In [9]:
restaurants = db['restaurants']

In [10]:
from bson.json_util import loads
import gdown

url = 'https://drive.google.com/uc?id=1WWd-vk2gyvy4gPG40MtjENPOYXbpIKey'
output = 'restaurants_collection.txt'
gdown.download(url, output, quiet=False)

# Read records (json)
with open(output) as f:
    data = loads(f.read())

restaurants.delete_many({})
# Add records to the collection
restaurants.insert_many(data)

Downloading...
From: https://drive.google.com/uc?id=1WWd-vk2gyvy4gPG40MtjENPOYXbpIKey
To: c:\Users\utente\OneDrive\Desktop\Magistrale\01TXASM-Data-management-and-visualization\Labs\L05\restaurants_collection.txt
100%|██████████| 4.24k/4.24k [00:00<?, ?B/s]

InsertManyResult([ObjectId('6738846dd3c19bfce7f75627'), ObjectId('6738846dd3c19bfce7f75628'), ObjectId('6738846dd3c19bfce7f75629'), ObjectId('6738846dd3c19bfce7f7562a'), ObjectId('6738846dd3c19bfce7f7562b'), ObjectId('6738846dd3c19bfce7f7562c'), ObjectId('6738846dd3c19bfce7f7562d'), ObjectId('6738846dd3c19bfce7f7562e'), ObjectId('6738846dd3c19bfce7f7562f'), ObjectId('6738846dd3c19bfce7f75630')], acknowledged=True)

## Exercises

### 1. Find all restaurants whose cost is medium. Show the result is the pretty format.

In [12]:
for rist in restaurants.find({"cost":'medium'}, {"name":1, '_id':0}) .sort({'name':1}):
  print(rist)

{'name': 'Mcdownloads'}
{'name': 'OldNavyHamburgar'}
{'name': 'ToorSeafoodrestaurant'}

### 2. Select the name and the number of seats (maxPeople) available of all the restaurants whose review is bigger than 4 and cost is medium or low

In [ ]:
for item in db.restaurants.find({'review':{'$gte':4}, '$or':[{'cost':'medium'},{'cost':'low'}]}, 
                            {'name':1, '_id':0, 'maxPeople':1}).sort({'maxPeople':-1, 'name':1}):
  pprint(item)

{'name': 'OldNavyHamburgar', 'maxPeople': 100}
{'name': 'ToorSeafoodrestaurant', 'maxPeople': 100}
{'name': 'PandaParadise', 'maxPeople': 50}
{'name': 'Smartbar', 'maxPeople': 15}
{'name': 'IlDivinPanino', 'maxPeople': 10}

### 3. Select the name, the phone of the restaurants that can contain more than 5 people and:

  #### a. whose tag contains "italian" or "japanese" and cost is medium or high OR
  #### b. whose tag does not contain neither "italian" nor "japanese", and whose review is higher than 4.5

#### Remove from the output the field _id.

In [26]:
results = db.restaurants.find(
    {
        'maxPeople': {'$gte': 5},
        '$or': [
            {
                '$and': [
                    {
                        '$or': [
                            {'tag': 'italian'},
                            {'tag': 'japanese'}
                        ]
                    },
                    {
                        '$or': [
                            {'cost': 'medium'},
                            {'cost': 'high'}
                        ]
                    }
                ]
            },
            {
                '$and': [
                    {'review': {'$gte': 4.5}},
                    {
                        '$and': [
                            {'tag': {'$ne': 'italian'}},
                            {'tag': {'$ne': 'japanese'}}
                        ]
                    }
                ]
            }
        ]
    },
    {'_id': 0, 'cost':1, 'tag':1, 'maxPeople':1, 'review':1, 'name':1}
)
for result in results:
  pprint(result)

{'cost': 'low',
 'maxPeople': 10,
 'name': 'IlDivinPanino',
 'review': 4.6,
 'tag': ['casual', 'goodforkids']}
{'cost': 'high',
 'maxPeople': 100,
 'name': 'IlTempo',
 'review': 4.2,
 'tag': ['italian', 'cosy']}
{'cost': 'low',
 'maxPeople': 15,
 'name': 'Smartbar',
 'review': 4.5,
 'tag': ['bar', 'morningcoffee']}
{'cost': 'medium',
 'maxPeople': 100,
 'name': 'OldNavyHamburgar',
 'review': 4.5,
 'tag': ['hamburger', 'fastfood']}

### 4. Calculate the average review of all restaurants

In [ ]:
for result in db.restaurants.aggregate([{'$group':{'_id':0, 'count':{'$sum':1}, 'somma':{'$sum':'$review'}}}, 
                                    {'$project':{'_id':0, 'revAvg':{'$divide':['$somma', '$count']}}}]):
  print(result)
  
for item in db.restaurants.aggregate([{'$group':{'_id':None, 'avgReview':{'$avg':'$review'}}}, {'$project':{'_id':0, 'avgReview':1}}]):
  print(item)

{'revAvg': 4.26}
{'avgReview': 4.26}

### 5. Count the number of restaurants whose review is higher than 4.5 and can contain more than 5 people

In [45]:
for result in db.restaurants.aggregate([
  {'$match':{'review':{'$gte':4.5}, 'maxPeople':{'$gt':5}}}, 
  {'$group':{'_id':None, 'count':{'$sum':1}}}, 
  {'$project':{'_id':0, 'count':1}}
  ]):
  print(result['count'])

4

### 6. Find the restaurant in the collection which is nearest to the point [45.0644, 7.6598]. Hint: remember to create the geospatial index.

In [62]:
db.restaurants.create_index([('location', '2dsphere')])

result = db.restaurants.find_one({'location':
    {'$near':
        {'$geometry':
            {'type':'Point', 
            'coordinates':[45.0644, 7.6598]}
            }
        }
    }, 
    {'_id':0, 'name':1, 'location':1}) 


# find_one returns one single document
pprint(result)

{'location': {'coordinates': [45.0645, 7.6608], 'type': 'Point'},
 'name': 'IlDivinPanino'}

### 7. Find how many restaurants in the collection are within 500 meters from the point [45.0623, 7.6627]

In [90]:
results = db.restaurants.find(
    {'location':{
        '$near':{
            '$geometry':{
                'type':'Point',
                'coordinates':[45.0623, 7.6627]
            },
            '$maxDistance':500
        }}},
    {'_id':0, 'name':1, 'coord':'$location.coordinates'})

for x in results:
    print(x)

{'name': 'IlDivinPanino', 'coord': [45.0645, 7.6608]}
{'name': 'MishiSushi', 'coord': [45.0587, 7.6612]}
{'name': 'ToorSeafoodrestaurant', 'coord': [45.0664, 7.6609]}

### 8. Add the tag “pizza” to all the restaurants that contain the tag “italian”. If the tag “pizza” is already present, you should not insert it

In [102]:
result = restaurants.update_many( 
        { '$and': [{'tag': {'$elemMatch': {'$eq': 'italian'}}},  {'$nor': [ {'tag': {'$elemMatch': {'$eq': 'pizza'}}}]}]}, 
        {'$push': {'tag': 'pizza'}} )


for item in db.restaurants.find({'tag':{'$elemMatch':{'$eq':'italian'}}}, {'_id':0, 'name':1, 'tag':1}):
    print(item)

{'name': 'Stagione', 'tag': ['italian', 'pizza']}
{'name': 'IlTempo', 'tag': ['italian', 'cosy', 'pizza']}

### 9. Decrease the review score of 0.2 for all the restaurants with the tag ‘fastfood’

In [112]:
for item in db.restaurants.find({'tag':{'$elemMatch':{'$eq':'fastfood'}}}, {'_id':0, 'name':1, 'review':1}):
    print(item)



db.restaurants.update_many({'tag':{'$elemMatch':{'$eq':'fastfood'}}}, {'$inc':{'review':-0.2}}) 

for item in db.restaurants.find({'tag':{'$elemMatch':{'$eq':'fastfood'}}}, {'_id':0, 'name':1, 'review':1}):
    print(item)

{'name': 'Mcdownloads', 'review': 3.9}
{'name': 'OldNavyHamburgar', 'review': 4.5}
{'name': 'Mcdownloads', 'review': 3.6999999999999997}
{'name': 'OldNavyHamburgar', 'review': 4.3}

### 10. For only the restaurants with a review higher than 3, find the tags which appear more than 1 time. For each tag, show how many documents include it.

In [ ]:
results = db.restaurants.aggregate() 

for result in results:
  pprint(result)

### 11. For each cost category, compute the minimum review rate, the maximum review rate, the average review rate and the number of restaurants. Sort the result in descending order according to the number of restaurants in each cost category.

In [ ]:
results = db.restaurants.aggregate(...) #WRITE YOUR PIPELINE HERE

for result in results:
  pprint(result)

### 12. Find the median value of maxPeople attribute

In [ ]:
results = db.restaurants.aggregate(...) #WRITE YOUR PIPELINE HERE

for result in results:
  pprint(result)